
{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	
    {% include 'includes/profile_sidebar.html' %}

	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Password:</strong>
			
		</header>
		<div class="card-body">
        {% include 'includes/alerts.html' %}
           
			<div class="row"> 

				<div class="col-md-12">
                <form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
               
                   
                    <div class="form-row">
                        
                    
                        <div class="form-group col-md-12">
                            <label for="">Current Password:</label>
                            <input type="password" class="form-control" name="current_password" placeholder="Current Password" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="">New Password:</label>
                            <input type="password" class="form-control" name="new_password" placeholder="New Password" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="">Comfirm New Password:</label>
                            <input type="password" class="form-control" name="Comfirm_password" placeholder="Comfirm New Password" required>
                        </div>
                    
                      
                           
                    </div>
                            <input type="submit" value="Save" class="btn btn-primary">
                   
                </form>
                    
					
				</div>
				

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>






{% endblock %}