<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item {% if '/profile/' in request.path %}active{% endif %} " href="{% url 'profile' %}"> profile </a>
			<a class="list-group-item {% if '/my_order/' in request.path %}active{% endif %}" href="{% url 'my_order' %}"> My Order </a>
			<a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %}" href="{% url 'edit_profile' %}"> Edit profile </a>
			<a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %}" href="{% url 'change_password' %}"> Change password </a>
			<a class="list-group-item {% if '/my_order_history/' in request.path %}active{% endif %}" href="{% url 'my_order_history' %}"> My order history </a>
			
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'user_logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>