{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 580px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Write to us</h4>
            <form id="submit-form" action="">
                <div class="form-row">
                    <div class="form-group col-md-6 text-white">
                        <label for="fname">Name</label>
                        <input type="text" class="form-control" id="name" name="name" pattern="[a-zA-Z\s]+"
                            placeholder="FULL NAME" required>
                        
                    </div>
                    <div class="form-group col-md-6 text-white">
                        <label for="place">Place</label>
                        <input type="text" class="form-control" id="inputPassword4" name="place"
                            pattern="[a-zA-Z0-9\s]+" placeholder="PLACE" required>
                    </div>
                </div>
                <div class="form-group text-white">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="Email" name="emailAdderss" placeholder="Email"
                        required>

                </div>
                <div class="form-group text-white">
                    <label for="Mobile">Mobile</label>
                    <input type="number" class="form-control" id="Mobile" name="Mobile" pattern="[0-9]"
                        placeholder="Mobile" required>

                </div>
                <div class="form-group text-white">
                    <label for="inputAddress2">Address</label>
                    <input type="text" class="form-control" id="inputAddress2" name="address"
                        placeholder="Home Address">
                </div>
                <div class="form-group text-white">
                    <label for="inputAddress2">Comments</label>
                    <textarea class="form-control" name="message" id="" cols="30" rows="3"></textarea>
                </div>


                <button type="submit" class="btn btn-primary t">Send</button>
                <a class="btn btn-dark" href="{% url 'home' %}">Back</a>
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  


    <script>
        $("#submit-form").submit((e) => {
            e.preventDefault();
            $.ajax({
                url: "https://script.google.com/macros/s/AKfycbz4p9fdPpO94pNa-HT_4hv6-YdFnqex4Yhv5SnqpRQ26R2QU2JHmGwitC9f2sPlfiPx/exec",
                data: $("#submit-form").serialize(),
                method: "post",
                success: function (response) {
                    alert("Form submitted successfully")
                    window.location.reload()
                    // window.location.href="https://www.instagram.com/harshadbabu/"
                },
                error: function (err) {
                    alert("Something Error")

                }
            })
        })
    </script>

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}